
@font-face {
    font-family: "SVN-Avoregular";
    src: url("./fonts/SVN-AVO.TTF");
}
@font-face {
    font-family: "SVN-Avoitalic";
    src: url("./fonts/SVN-AVO_ITALIC.TTF");
}
@font-face {
    font-family: "SVN-Avobold";
    src: url("./fonts/SVN-AVO_BOLD.TTF");
}
@font-face {
    font-family: "SVN-Avobolditalic";
    src: url("./fonts/SVN-AVO_BOLD_ITALIC.TTF");
}

/* ==================================================================== */

html, body {
    height: 100%;
    width: 100%;
    /* font-family: 'svn-avoregular', sans-serif; */
    /* font-family: "SVN-Avo"; */
    /* scroll-behavior: smooth; */
    background: #000;
    color: #fff;
}

/* NAVBAR  */
/* NAVBAR - top border and padding */
.navbar {
    padding: .8rem .8rem 3px;
    box-shadow: 0px 12px 0px #ff9c00 inset;
}

/* NAVBAR - custom background  */
.navbar-custom {
    background: #000;
}

/* NAVBAR - items  */
.navbar-nav {
    flex-flow: row nowrap;
}

.navbar-nav li {
    height: 100%;
    width: 12vw;
    padding:0 10px;
    text-align: center;
}

/* NAVBAR - items hover  */
.navbar-nav li a {
    transition: 0.3s;
}

.navbar-nav li a:hover {
    box-shadow: 0px 3px 0px #ff9c00;
}

/* NAVBAR - items text  */
.navbar-nav li a{
    font-size: 120%;
    text-transform: uppercase;
}

.nav-link {
    font: 1.1em !important;
    color: #fff !important;
}

/* NAVBAR - home button  */
.navbar-nav .active {
    box-shadow: 0px 3px 0px #ff9c00;
}

/* NAVBAR - Input field  */
.navbar-nav .input-item {
    padding:0 4px 0;
}

.navbar-nav .input-group {
    width: 100%;
    padding: 3px 0;
    align-items: center;
}

.navbar-nav .input-group input,
.navbar-nav .input-group button {
    border-radius: 20px;
}

.navbar-nav .input-group .btn-secondary {
    background: #ff9c00;
    border: none;
}

.navbar-nav .input-group input:focus,
.navbar-nav .input-group .btn:focus {
    box-shadow: none;
}

/* NAVBAR - center logo  */
.navbar-brand-custom {
    transform: translateX(-50%);
    left: 50%;
    top:-55px;
    position: absolute;
    width: auto;
    filter: drop-shadow(2px 2px 3px #000);
}

.navbar-brand-custom {
    padding: 0px;
}

/* NAVBAR - logo  */
.navbar-brand-custom img {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    filter: drop-shadow(2px 2px 3px #000);
    padding: 7px 0;
}

/* NAVBAR - left and right section  */
.navbar-left li {
    margin:10px 0 0 ;
}

.navbar-right li {
    margin:10px 0 0 0;
}

/* NAVBAR - mobile version */
/* NAVBAR - mobile logo */
.navbar-brand-mobile img {
    width: 33%;
}

/* NAVBAR - menu button  */
.navbar-toggler {
    background-color: #ff9c00;
}

.navbar-toggler-icon {
    background-image: url('./image/icon-menu.png');
}

/* NAVBAR - turn off outline */
.navbar-toggler:focus {
    outline: none;
}

/* CAROUSEL  */
/* CARIUSEL - keep fullheight when resize window  */
.carousel {
    /* width: 100%; */
    /* height: 50vh; */
    /* overflow: hidden; */
}

/* CAROUSEL - Darker image  */
.carousel .carousel-inner {
    /* height: 100%; */
}

/* .carousel-inner {
    height: 50%;
} */

.carousel-item{
    height: 93vh;
    width: 100%;
} 
.carousel-item img{
    height: 100%;
    object-fit:cover;
}

.carousel-inner > div > img{
    width: 100%;
    height: 100%;
}

.dark > img {
    filter: brightness(75%);
}

.carousel-inner {
}

/* CAROUSE - center logo  */
.carousel-caption {
    top: 40%;
    transform: translateY(-50%);
}

.carousel-caption > img {
    height: 60%;
}

/* FIXED - caption img not center  */
#bg-2, #bg-3, #bg-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg-1 {
    height: 70%;
}
/* CAROUSEL BOTTOM  */
.carousel-bottom {
    position: absolute;
    bottom:1.5em;
}

/* CAROUSEL BOTTOM - container  */
.carousel-bottom-container {
    margin: auto;
    padding: 10px 0;
}

/* CAROUSEL BOTTOM - play button  */
.play-button {
    height: -85vh;
    /* margin-bottom: 0.5rem; */
}

.play-button div {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    /* border: 1px solid green; */
}

.play-button div img {
    /* display: block; */
    max-width: 100%;
    height: 80%;
    width: auto\9;
    width: auto;
    filter: drop-shadow(10px 7px 4px #000);
    transition: all 0.5s ease-in-out;
}

.play-button img:hover {
    transform: scale(1.1);
}

/* CAROUSEL BOTTOM - links  */
.link-container {
    padding: 0 30%;
}

.link-container div {
    text-align: center;
    padding: 5px 0;
}

/* CAROUSEL BOTTOM - links text */
.link-container div a{
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    /* font-family: 'svn-avoregular', sans-serif; */
    font-family: "SVN-Avobolditalic";
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.6mm;
    transition: all 0.5s ease-in-out;
}

/* CAROUSEL BOTTOM - links effects */
.link-container div a:hover {
    transform: scale(1.1);
}

.link-container div img {
    margin-right: 5px;
    transition: transform .7s ease-in-out;
}

.link-container div a:hover > img {
    transform: rotate(360deg);
}


/* GUIDE  */
/* GUIDE - Container  */
.padding {
    padding: 0 2rem;
}

.guide-container {
    /* background: #000;
    color: #fff; */
    box-shadow: 0px 20px 0px #ffae00 inset;
    font-size: 20px;
    /* font-family: 'svn-avoregular', sans-serif; */
    font-family: "SVN-Avoregular";
    border-bottom: 20px solid #ffae00;
}

/* GUIDE - badge  */
.guide-badge {
    position: relative;
    top: 0px;
    left: 12%;
    width: 3%;
    transform: translateX(-10%);
    margin-left: 2rem;
}

/* GUIDE - Text img  */

.guide-title > div, .guide-thanks > div {
    display: flex;
    justify-content: center;
}

.guide-title img, .guide-thanks img {
    max-width: 80%;
    height: auto;
    width: auto;
}

.guide-thanks img {
    margin-top: -30px;
}
/* GUIDE - Text  */
.guide-text {
    width: 75vw;
    margin: auto;
    border: 1px solid white;
}

.guide-text h3 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    /* font-family: 'svn-avobold', sans-serif; */
    font-family: "SVN-Avobold";
    padding: .5em;
}

.guide-text h3 span {
    color: #ffae00;
}

.guide-text ul li {
    list-style: '- ';
    margin-bottom: 1em;
    line-height: 1.2;
    font-size: 20px;
}

/* GUIDE - text link  */
.guide-text-link {
    padding: 2rem;
}

.guide-text-link p {
    margin-bottom: 0;
}

.guide-text-link p span {
    font-weight: bold;
}

.guide-text-link p:last-child {
    margin-top: 2rem;
}

.guide-text-link a {
    /* text-decoration: none; */
    color: #ffae00;
}

/* GUIDE - Hr  */

hr {
    /* border-top: 7px solid #ffae00; */
    background-color: #ffae00;
    width: 50%;
    margin: 5% auto;
    padding: 4px 0;
}

/* GUIDE - detail  */
.guide-detail {
    width: 60vw;
    margin: auto;
    padding: 0.4em 0;
    font-size: 20px;
}

.guide-detail > div {
    display: flex;
    justify-content: center;
}

.guide-detail > div > img {
    padding-bottom: 1.3em;
    max-width: 100%;
    /* IE7 */
    height: auto\9; 
    /* IE8 */
    height: auto;
}

.guide-detail ul {
    margin-left: 5%;
}

.guide-detail ul li {
    list-style: url('./image/list-style.png');
    margin-bottom: 1.2em;
}

.guide-detail ul li span {
    color: #ffae00;
    font-weight: bold;
}

footer {
    background-color: #fff;
}

/* MEDIA QUERIES  */
@media (max-width: 1200px) {
    .guide-text h3 {
        font-size: 3vh;
    }
}

@media (max-width: 992px) {
    .navbar-brand-custom img {
        /* width: auto; */
        display: none;
    }

    .navbar-nav li {
        width: 100%;
        text-align: right;
    }

    .navbar-right li, .navbar-left li {
        margin:0;
    }

    .collapse-items {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: 5px;
    }

    .collapse-items .navbar-nav {
        display: flex;
        flex-direction: column;
    }

    .carousel-caption {
        top: 50%;
        transform: translateY(-70%); 
    }

    #bg-1 {
        height: 70%;
    }
    
    #bg-2 {
        height: 45%;
    }

    #bg-3 {
        height: 50%;
    }

    .guide-title img, .guide-thanks img {
        /* display: none; */
    }

    .guide-badge {
        visibility: hidden;
    }

    /* CAROUSEL BOTTOM - link section   */
    .link-container div a {
        font-size: 13px;
    }
    .link-container div a img {
        display: none;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        top: 50%;
        transform: translateY(-90%);
    }

    .play-button div img {
        height: 50%;
    }

    #bg-1 {
        height: 65%;
        margin-top: 15%;
    }

    #bg-2 {
        height: 35%;
    }

    #bg-3 {
        margin-top: 7%;
        height: 45%;
    }

    .guide-title img, .guide-thanks img {
        display: none;
    }
}

@media (max-width: 576px) {
    .guide-text h3 {
        font-size: 20px;
    }

    .guide-text ul li, .guide-text-link, .guide-detail {
        font-size: 15px;
    }

    .guide-detail {
        border: 1px solid white;
    }

    .guide-detail ul {
        margin-left: -30px;
    }

    .guide-detail ul li {
        list-style: '- ';
        
        list-style-position: inside;
    }

    #bg-1 {
        height: 50%;
        margin-top: 10%;
    }

    #bg-2 {
        height: 30%;
    }

    #bg-3 {
        height: 35%;
    }
}


